{% extends 'base.html' %}
{% block content %}
    <main>
        <section class="achievement-section" id="achievements">
            <div class="container">
                <p class="section-kicker">What I've achieved so far</p>
                <h1>Achievement</h1>

                <div class="achievement-grid">
                    {% for achievement in achievement_list %}
                    <article>
                        <h3>{{ achievement.title }}</h3>

                        <p><span class="issued-by">Issued by</span> {{ achievement.organizer }}</p>

                        <time datetime="{{ achievement.achieved_at|date:'Y-m' }}">
                            {{ achievement.achieved_at|date:'M Y' }}
                        </time>

                        <p>{{ achievement.description }}</p>
                    </article>
                    {% empty %}
                        <p class="empty-state">Belum ada achievement saat ini.</p> 
                    {% endfor %}
                    
                </div>
            </div>
        </section>
    </main>
{% endblock content %}